.centreItemsHorizontal {
    margin-left: auto;
    margin-right: auto;
}

.autoWidth {
    width: auto;
}

.centreItemsHorizontal {
    width: 80%;
}

.Card {
    margin: 32px 0px;
    border: 2px solid gray;
    border-radius: 12px;
    padding: 0px 12px;
    background-color: #181818;
    box-shadow: 5px 5px 10px black;
}

.sideBySide {
    display: flex;
    align-items: center;
}

.sbs {
    margin: 0 auto;
    padding: 4px 12px;
}

.textContainer {
    width: 70%; 
}

.textContainer h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.textContainer p {
    font-size: 0.75rem;
    color: #a5a5a5;
}

.portraitImage {
    margin: auto auto;
}

.portraitImage img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid gray;
}

.cardContent {
    padding: 4px 4px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

.gridItem {
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid gray;
    background-color: #1f1f1f;
    box-shadow: 5px 5px 10px #dcdcdc;
}

.gridItem img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 8px;
}

.iUse ul {
    list-style-position: inside;
}

@media only screen and (max-width: 600px) {

    .textContainer h1 {
        font-size: 1.25rem;
    }

}

@media only screen and (min-width: 601px) {

    .textContainer h1 {
        font-size: 1.5rem;
    }

}

@media only screen and (min-width: 802px) {

    .textContainer h1 {
        font-size: 2rem;
    }

}

@media only screen and (max-width: 1200px) {

    .centreItemsHorizontal {
        width: 100%;
    }

    .Card {
        margin: 16px 0px;
    }

    .textContainer p {
        padding-top: 5%;
    }

    .portraitImage img {
        width: 100px;
        height: 100px;
    }

    .gridContainer {
        padding: 10px;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .gridItem img {
        width: 50px;
        height: 50px;
    }

    .gridItem h3 {
        font-size: 1rem;
    }

}

@media only screen and (min-width: 1200px) {

    .textContainer h1 {
        font-size: 2.5rem;
    }

}