.mainContent {
    flex-grow: 1;
    background-color: #1f1f1f;
    padding: 0px;
}

.selectionContainer {
    position: relative;
    height: 50px;
    overflow: hidden;
    list-style-type: none;
    align-items: flex-start;
    background-color: #181818;
}

.selectionContainer .selectionItem {
    float: left;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    border: 1px solid gray;
}

.selectionContainer .selectionItem.selected {
    border-bottom: 0px;
    background: #1f1f1f;
}

.selectionContainer .selectionItem button {
    border:  none;
    background-color: #181818;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    color: gray;
}

.selectionContainer .selectionItem.selected button {
    color: #dbdbdb;
    background: #1f1f1f;
}

.selectionItemContent {
    display: none;
}

.selectionItemContent.active {
    display: block;
}
