.mainContent {
    flex-grow: 1;
    background-color: #1f1f1f; 
    padding: 0px;
    padding-left: 250px;
}

.selectionContainer {
    position: relative;
    height: 60px;
    overflow: visible;
    list-style-type: none;
    align-items: flex-start;
    background-color: #181818;
    display: flex;
    flex-direction: row;
}

.selectionContainer .selectionItem {
    float: left;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    width: auto;
    min-width: 100px;
    border: 2px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    text-align: center;
    font-size: 12px;
}

.selectionContainer .selectionItem.selected {
    border-bottom: 0px;
    background: #1f1f1f;
}

.selectionContainer .selectionItem button {
    border:  none;
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    color: gray;
    transition: all 0.3s ease-in-out;
}

.selectionContainer .selectionItem:not(.selected) button:hover  {
    color: rgb(189, 189, 189);
    transform: scale(1.05);
}

.selectionContainer .selectionItem.fillerItem {
    border-top: none;
    border-right: none;
    overflow: hidden;
    /*width: calc(100% - calc(100px * 3));*/ /*100% - the width and number of the other selectable elmenets*/
}

.selectionContainer .selectionItem.selected button {
    color: #dbdbdb;
    background: #1f1f1f;
}

.selectionItemContent {
    display: none;
}

.selectionItemContent.active {
    display: block;
    padding: 16px;
}

.hamburgerMenuToggle {
    display: none;
}

.hamburgerMenu {
    display: none;
}

.hamburgerMenuToggleSub {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
}

.hamburgerMenuToggleSub span {
    z-index: 2;
    height: 0.25rem;
    width: 100%;
    background-color: #CE723C;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.hamburgerMenuToggleSub span:nth-child(1){
    top: 25%;
}

.hamburgerMenuToggleSub span:nth-child(3){
    top: 75%;
}

.hamburgerMenuToggleSub.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -0%) rotate(45deg);
}

.hamburgerMenuToggleSub.active span:nth-child(2){
    opacity: 0;
}

.hamburgerMenuToggleSub.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
}

.hamburgerMenu ul {
    list-style-type: none;
    width: 80%;
}

.hamburgerMenu ul li {
    border: 2px solid gray;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    font-size: 5vw;
    color: #7CDCF0;
    width: 100%;
}

.hamburgerMenu ul li.active {
    color: #CE723C;
}

.slideContainer {
    position: relative;
    width: 1300px;
    height: 650px;
    overflow: hidden;
    border-radius: 12px;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    
}

.slide {
    min-width: 100%;
    background: #181818;
}

img.slide {
    object-fit: contain;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.control {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
}

.indicators {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border: 2px solid gray;
    border-radius: 16px;
    background: rgba(34, 34, 34, 0.5);
    padding: 4px 4px;
}

.indicator {
    width: 8px;
    height: 8px;
    margin: 0 0.25rem;
    background: #333;
    border-radius: 50%;
    transition: background 0.3s;
}

.indicator.active {
    background: #ccc;
}

.showCaseImage {
    width: 500px;
}

.sideBySide {
    display: flex;
}

.sbs {
    border: 2px solid gray;
    border-radius: 16px;
    margin: 0 auto;
}

.linksBox {
    padding: 12px 40px;
    background: #181818;
}

.descriptionBox {
    border: 2px solid gray;
    border-radius: 16px;
    margin-top: 0.75rem;
    padding: 12px;
    background: #181818;
}

.descriptionBox h4 {
    display: inline;
}

.descriptionBox ul {
    list-style-position: inside;
}

@media only screen and (max-width: 1200px) {

    .selectionContainer {
        display: none;
    }

    .hamburgerMenuToggle {
        padding: 1rem;
        display: flex;
        background: #181818;
        position: relative;
        border-top: 2px solid gray;
    }

    .hamburgerMenu {
        background-color: #252525;
        border-left: 4px solid rgb(167, 167, 167);
        height: 100%;
        width: 75%;
        position: fixed;
        top: 0;
        right: -450px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        z-index: 1;
    }

    .hamburgerMenu.active {
        display: flex;
        right: 0;
    }

    .mainContent {
        flex-grow: 1;
        background-color: #1f1f1f; 
        padding: 0px;
        padding-top:  40px;
    }

    .sideBySide {
        display: block;
    }

    .slideContainer {
        width: 100%;
        height: auto;
    }

    .sbs {
        margin: 0.75rem auto;
    }

}