.mainContent {
    flex-grow: 1;
    background-color: #1f1f1f;
    padding: 0px;
}

.selectionContainer {
    position: relative;
    height: 60px;
    overflow: visible;
    list-style-type: none;
    align-items: flex-start;
    background-color: #181818;
    display: flex;
    flex-direction: row;
}

.selectionContainer .selectionItem {
    float: left;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    border: 1px solid gray;
    border-bottom: 2px solid gray;
    text-align: center;
}

.selectionContainer .selectionItem.selected {
    border-bottom: 0px;
    background: #1f1f1f;
}

.selectionContainer .selectionItem button {
    border:  none;
    background-color: #181818;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    color: gray;
}

.selectionContainer .selectionItem.fillerItem {
    border-top: none;
    border-right: none;
    overflow: hidden;
    /*width: calc(100% - calc(100px * 3));*/ /*100% - the width and number of the other selectable elmenets*/
}

.selectionContainer .selectionItem.selected button {
    color: #dbdbdb;
    background: #1f1f1f;
}

.selectionItemContent {
    display: none;
}

.selectionItemContent.active {
    display: block;
    padding: 15px;
}

.slideContainer {
    position: relative;
    width: 1300px;
    height: 650px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

img.slide {
    object-fit: contain;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.control {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border: 2px solid gray;
    border-radius: 15px;
    background: rgba(34, 34, 34, 0.5);
    padding: 5px 5px;
}

.indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #333;
    border-radius: 50%;
    transition: background 0.3s;
}

.indicator.active {
    background: #ccc;
}

.showCaseImage {
    width: 500px;
}

.sideBySide {
    display: flex;
}

.sbs {
    border: 2px solid gray;
    border-radius: 15px;
    margin: 0 auto;
}

.linksBox {
    padding: 10px 40px;
}

.descriptionBox {
    border: 2px solid gray;
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
}

.descriptionBox h4 {
    display: inline;
}

.descriptionBox ul {
    list-style-position: inside;
}
